<div class= "section border border-dark my-4 m-auto">
	<h4 class="text-center p-2 ">
		Mes demandes d'emprunts
	</h4>

	<div class="container d-flex w-100  justify-content-center">
		<div class="row justify-content-start w-100">
		{% if requestsReceived is empty %}
			<span class = "text-center">Aucune demande de jeu en attente.</span>
		{% endif %}
		
            {% for requestReceived in requestsReceived %}
            {% include "/Myaccount/_requestCard.html.twig" %}
            {% endfor %}
    	</div>
    </div>
</div>

