{% extends 'layout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
	<h2 class="text-center my-4">Mon compte</h2>
	<h3 class="text-center">Ajouter un jeu</h2>
	{% include 'Game/_formPublic.html.twig' %}

	<div>
		{% include 'Myaccount/_requestsReceived.html.twig' %}
	</div>

{% endblock %}
