{% extends 'layout.html.twig' %}

{% block pageTitle %}
	<h2 class="text-center my-4">
		Dashboard
	</h2>
{% endblock %}

{% block content %}


	<h2 class="text-center m-5 mb-4">Ajouter un jeu</h2>
	<h3 class="text-center">Renseigner les informations du jeu</h3>
	{% include 'Game/_formPublic.html.twig' %}

	{% include 'Myaccount/_borrow.html.twig' %}

{% endblock %}
