{% extends 'layout.html.twig' %}

{% block content %}
	<main role="main">
		<div class="container-fluid text-center backgroundtop">
			<h1 class="display-3 m-0 fw-bold text-white">Choississez, Empruntez, Jouez</h1>
		</div>
		<div class="container-fluid text-center">
			<div class="row m-5">
				<div class="col-md-4">
					<img class= "images" src="assets/images/key.png" alt="key">
					<h2>Crée ton compte gratuit</h2>
					<p>Sur le plateau, vous pouvez créer votre propre espace personne ou toutes vos informations seront visibles.
					</p>

				</div>
				<div class="col-md-4">
					<img class= "images" src="assets/images/share.png" alt="share">
					<h2>Partage tes jeux</h2>
					<p>Ajoute ensuite tes jeux au catalogue du site. Tu pourras toi même consulter tous les jeux des autres utilisateurs sur le catalogue.
					</p>

				</div>
				<div class="col-md-4">
					<img class= "images" src="assets/images/heart.png" alt="heart">
					<h2>Emprunte des jeux</h2>
					<p>Tu peux alors envoyer une demande de prêt pour le jeu que tu as choisis ou l’ajouter dans ta liste de favoris.</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
