{% extends 'layout.html.twig' %}

{% block content %}
	<h1 class="text-center m-5 mb-4">Ajouter un jeu</h1>
	<h2 class="text-center">Renseigner les informations du jeu</h2>
	{% if view == 1 %}
		{% include 'Game/_formAdmin.html.twig' %}
	{% else %}
		{% include 'Game/_formPublic.html.twig' %}
	{% endif %}
	

{% endblock %}
