{% extends 'layout.html.twig' %}

{% block content %}
	<h2 class="text-center mt-4">
		Administration
	</h2>
	<h3 class="text-center mt-2">Ajouter un jeu</h3>
	<p class="text-center">Renseigner les informations du jeu</p>
	{% include 'Game/_formAdmin.html.twig' %}
{% endblock %}
