{% extends 'layout.html.twig' %}

{% block content %}
	<h2 class="text-center m-5 mb-4">Ajouter un jeu</h2>
	<h3 class="text-center">Renseigner les informations du jeu</h3>
	{% include 'Game/_formAdmin.html.twig' %}
{% endblock %}
