{% extends 'layout.html.twig' %}

{% block content %}
	<h2 class="text-center mt-4">
		Administration
	</h2>
	<h3 class="text-center mt-2">Modifier un jeu</h3>
	<p class="text-center">{{ game.name }}
		de
		{{game.firstname}}
		{{game.lastname}}</p>
	{% include 'Game/_formAdmin.html.twig' %}
	<a href="/games/show">Retour</a>
{% endblock %}
