{% extends 'layout.html.twig' %}

{% block content %}
	<h2 class="text-center m-5 mb-4">Modifier un jeu</h2>
	<h3 class="text-center">{{ game.name }}</h3>
	{% include 'Game/_formPublic.html.twig' %}
	<a href="/myaccount">Retour</a>
{% endblock %}
