{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modifie le jeu {{ game.id }}</h1>
    {% include 'Game/_form.html.twig' %}
    {% if errors is defined %}
        <div class = "text-danger">Il y a des erreurs dans le formulaire :
            <ul>
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <a href="/games/show">Retour</a>
{% endblock %}
