{% extends 'layout.html.twig' %}

{% block pageTitle %}Les jeux{% endblock %}

{% block content %}
    <div class="container d-flex w-100 pb-4 justify-content-center">
        <div class="row justify-content-start w-100">
			{% for game in selectedGames %}
				{% include 'Game/_gamecard.html.twig' %}
			{% endfor %}	
		</div>
	</div>
	<div class = "pages text-center">
	Pages
		<ul class="nav justify-content-center">

			{% set count = (games|length) %}
			{% set page = (count/12)|round(0, 'ceil')-1 %}
			{% for i in range (0, page) %}
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/../../games?page={{i+1}}">{{i+1}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
