
:root {
    --background-color : #FBFBFB;
    --primary-color: #8CBDB9;
    --secondary-color: #F87666;
    --font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.backgroundtop {
    background-image: url('../images/bg-game2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ring {
    flex-grow: 2;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

}

.navbar-expand-lg .navbar-collapse {
    flex-grow: 0;

}

.navbar{
    background-color: var(--primary-color);
}

#ring-img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.images {
    width: 100px;
    height: 100px;
}

.logo {
    width: 140px;
    height : 140px;
}


/* PAGE LES JEUX */
.card {
    width: 85%;
    max-width: 20rem;
}

.card-subtitle {
    font-size: 10px;
    width: 85%;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.card-image-top {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width : 85%
}

.btn {
    background-color: var(--secondary-color);
    color: var(--background-color)
}

.nav-link{
    color: var(--secondary-color)
}

.nav-link:hover{
    color: var(--secondary-color)
}

