{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 mb-5 mx-auto d-table">
				<div class="d-table-cell align-middle">
					<form class="form m-3 bg-lightgrey p-3 shadow" method="post">

						<input type="hidden" value="{{ user.id }}" name="id">

						<div class="mb-3">
							<label for="userNewPassword" class="form-label d-flex justify-content-center">Nouveau mot de passe *</label>
							<input type="password" name="userPassword" id="userNewPassword" maxlength="100" class="form-control" required>
						</div>

						<div class="mb-3">
							<label for="userNewPasswordConfirmation" class="form-label d-flex justify-content-center">Confirmer le nouveau mot de passe *</label>
							<input type="password" name="userPasswordConfirmation" id="userNewPasswordConfirmation" maxlength="100" class="form-control" required>
						</div>

						{% if errors is defined %}
							<div class="text-danger">
								<ul>
									{% for error in errors %}
										<li>{{error}}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

						<div class="mb-3 d-flex justify-content-center">
							<button class="btn tomatoButton">Envoyer</button>
						</div>
						<p class="form-text">
							* Champs obligatoires
						</p>
					</form>
					<div class="mb-3 d-flex justify-content-center">
						<a href="/users/edit?id={{ user.id }}">Modifier les données utilisateurs</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
