{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Ajoute un utilisateur</h1>
	{% include 'User/_form.html.twig' %}
	{% if errors is defined %}
		<p class="text-danger">Il y a des erreurs dans le formulaire :
			<ul>
				{% for error in errors %}
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endblock %}
