{% extends 'layout.html.twig' %}

{% block content %}
	<h2 class="text-center m-5 mb-4">Créer un compte</h2>
	<p class="text-center">Veuillez renseigner vos informations</p>
	{% include 'User/_form.html.twig' %}

{% endblock %}
