{% extends 'layout.html.twig' %}

{% block content %}
	<a href="/users/add">Ajouter</a>
	<h1>Les utilisateurs</h1>
	<ul>
		{% for user in users %}
			<li>{{ user.id }}.
				{{ user.firstname }}
				{{ user.lastname }}
				/ mail :
				{{ user.email }}
			</li>

			<a href="/users/edit">Modifier</a>

		{% else %}
			<li>Nothing to display</li>
		{% endfor %}
	</ul>
{% endblock %}

