{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container texte-center">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-6 mb-5 mx-auto d-table">
				<div class="d-table-cell align-middle">

					<h1 class="text-center m-5 mb-4">Connexion</h1>

					<h2 class="text-center">Veuillez entrer vos identifiants</h2>

					<form class="form m-3 bg-lightgrey p-3 shadow" method="post">
						<div class="mb-3">
							<label for="userEmail" class="form-label d-flex justify-content-center">Email</label>
							<input type="text" name="userEmail" id="email" maxlenght="100" class="form-control" required>
						</div>

						<div class="mb-3">
							<label for="userPassword" class="form-label d-flex justify-content-center">Mot de passe</label>
							<input type="password" name="userPassword" id="password" maxlenght="100" class="form-control" required>
						</div>
						{% if error is not null %}
							<p class="alert alert-danger mt-2 text-center h-1 p-2">{{error}}</p>
						{% endif %}
						<div class="mb-3 d-flex justify-content-center">
							<button class="btn tomatoButton">Se connecter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{%  endblock %}
