<div id="nav-admin" class="border border-dark p-3 m-auto">
	<h4>Menu admin</h4>
	<ul>
		<li>
			<a href="/">Accueil</a>
		</li>
		<li>
			<a href="/games/show">Les jeux</a>
		</li>
		<ul>
			<li>
				<a href="/games/add">Ajouter un jeu</a>
			</li>
		</ul>
		<li>
			<a href="/users/show">Les utilisateurs</a>
		</li>
		<ul>
			<li><a href="/users/add">Ajouter un utilisateur</a></li>
		</ul>

	</ul>
</div>
