<nav id="nav-admin" class="navbar-fluid border border-dark p-1 h-md-100 bg-light">
	<h4>Menu admin</h4>
	<ul>
		<li>
			<a href="/">Accueil</a>
		</li>
		<li>
			<a href="/games/show">Les jeux</a>
		</li>
		<ul>
			<li>
				<a href="/games/add">Ajouter un jeu</a>
			</li>
		</ul>
		<li>
			<a href="/users/show">Les utilisateurs</a>
		</li>
		<ul>
			<li><a href="/users/add">Ajouter un utilisateur</a></li>
		</ul>

	</ul>
</nav>
