{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="text-center m-3 mb-5 mt-5">
				<h2>Accès interdit.</br>
				Vous allez être redirigé.
				</h2>
				<img src="/assets/images/Access_denied.jpg" class="imagedenied img-fluid rounded mx-auto d-block m-4">
			</div>
		</div>
	</div>
	<script src="/assets/javascript/script.js"></script>
{%  endblock %}
